@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth !important;
}
  

  .line-up {
    animation: line-up 3s infinite;
  }

  @keyframes line-up {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(30%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

div svg {
  @apply w-full h-full
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

@layer utilities {

  .clip-illustration {

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

  }

}