@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth !important;
}

.loader-3d {
  animation: flip 2s infinite;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  border: 1px solid black;
}

.loader-3d img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  backface-visibility: hidden;
}
.loader-3d img:first-child {
  transform: perspective(600px) rotateY(0deg);
}

.loader-3d img:last-child {
  transform: perspective(600px) rotateY(180deg);
}

@keyframes flip {
  from {
    transform: perspective(600px) rotateY(0deg);
  } to {
    transform: perspective(600px) rotateY(360deg);
  }
}

.line-up {
  animation: line-up 3s infinite;
}

@keyframes line-up {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(30%);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}

.slide-in {
  animation: slide-in 5s ease-in-out
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%)
  }
  5% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%)
  }
}

div svg {
  @apply w-full h-full
}

button{
  @apply active:scale-95 transition-all
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

@layer utilities {

  .clip-illustration {

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

  }

}